############################
#    EditorConfig file     #
# https://editorconfig.org #
############################

root = true

[*]
indent_style             = tab
indent_size              = tab
end_of_line              = lf
charset                  = utf-8
trim_trailing_whitespace = true
insert_final_newline     = true
max_line_length          = 80
# Recommended but not forced:
#tab_width               = 2

[*.{json,yml,yaml,md}]
indent_style = space
indent_size  = 2

[*.svg]
insert_final_newline = false

[*.{md,md.tmpl}]
trim_trailing_whitespace = false
# man page standard width:
max_line_length          = 71
