######################################
#          Git ignore file           #
# https://git-scm.com/docs/gitignore #
######################################

# Editor/IDE
.idea/*
!.idea/externalDependencies.xml
!.idea/icon.svg
.vscode/*
!.vscode/extensions.json

# Node.js
node_modules/
.pnp/
.yarn/
.pnp.*
package-lock.json
yarn.lock

# Temporary Files
scratch.*
scribble.*
