```manpage
JONASGEILER(7)               User Profile                JONASGEILER(7)

NAME
     jonas geiler - he/him

DESCRIPTION
     Passionate  software  developer and open-source enthusiast, always
     experimenting  around  with  new  ideas and overflowing with side-
     projects.

STATISTICS
{{statistics}}

TOP LANGUAGES
     25.31% JavaScript/TypeScript

     18.58% Lua

     12.53% Svelte

     7.56%  HTML

STANDARDS
     POSIX.1-2001FAKE, POSIX.1-2008FAKE, POSIX.1-2017THISONEISREAL.

SEE ALSO
     zsoelim(1),  cats(4),  mandb(8),  hotcoco(3), groff(1), humans(8),
     manpath(5),  happiness(1),   whatis(1),   existence(7),  catman(8)

     Documentation  for  some topics may be available in other formats,
     such as info(1) or HTML.

     Some documentation may be incomplete, contradictory, or written by
     people who were awake at 3am.

HISTORY
     21st     December     2014     –     present day:     Jonas Geiler
     <hi@jonasgeiler.com> is developing and maintaining these projects.

BUGS
     https://github.com/jonasgeiler/jonasgeiler/issues

9.22.1                         2026-09-26                        MAN(1)
```
