```md
README
======

STATISTICS
----------

{{statistics}}

TOP LANGUAGES
-------------

     25.31% JavaScript/TypeScript

     18.58% Lua

     12.53% Svelte

     7.56%  HTML

     5.87%  C

     2.22%  Go

BUGS
----

     Report any severe brain issues of Jonas Geiler here:

     https://github.com/jonasgeiler/jonasgeiler/issues

     (only for medical professionals)
```
